# Generated APK
*.apk
*.aab

# Keystore
*.jks
*.keystore

# Build
build/
.gradle/
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Nim
backend/src/makco
nimcache/
*.db
*.exe

# TLS certs
certs/
*.crt
*.key
*.pem

# Env
.env
.env.*

# Progress
makco_progress.json
